.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  gap: 20px; 
  background:rgb(203, 203, 203);
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.grid > div {
  align-self: start;
}
[class*="col-"] {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

.flex{
  display: block;
  width: 100%;
}


.row{
  display:flex;
  flex-wrap: wrap;
  background:greenyellow;
  
}

.grid *,
.flex .row * {
  background: pink;
  border: 1px solid #000000;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
}

/* mobile first, no puse todo junto ya que todos tienen una medida*/
/* S */
.grid .columns-1 {
  grid-column: span 12;
  min-height: 80px;
  background: royalblue;
}
.grid .columns-2 {
  grid-column: span 12;
  min-height: 80px;
  background: royalblue;
}
.grid .columns-3 {
  grid-column: span 12;
  min-height: 80px;
  background: royalblue;
}
.grid .columns-4 {
  grid-column: span 12;
  min-height: 80px;
  background:forestgreen;
}
.grid .columns-5 {
  grid-column: span 12;
  min-height: 80px;
  background: forestgreen;
}
.grid .columns-6 {
  grid-column: span 12;
  min-height: 200px;
  background: rgb(139, 36, 34);

}
.grid .columns-7 {
  grid-column: span 12;
  min-height: 200px;
  background: rgb(139, 34, 73);
}
.grid .columns-8 {
  grid-column: span 12;
  min-height: 80px;
  background: rgb(237, 255, 104);
}



/*Para Tablets*/
/* M */
@media screen and (min-width: 481px) and (max-width: 1279px) {
.grid .columns-1 {
  grid-column: span 4;
  min-height: 80px;
  background: royalblue;
}
.grid .columns-2 {
  grid-column: span 4;
  min-height: 80px;
  background: royalblue;
}
.grid .columns-3 {
  grid-column: span 4;
  min-height: 80px;
  background: royalblue;
}
.grid .columns-4 {
  grid-column: span 12;
  min-height: 80px;
  background:forestgreen;
}
.grid .columns-5 {
  grid-column: span 12;
  min-height: 80px;
  background: forestgreen;
}
.grid .columns-6 {
  grid-column: span 2;
  min-height: 80px;
  background: rgb(139, 36, 34);

}
.grid .columns-7 {
  grid-column: span 7;
  max-height: 200px;
  background: rgb(139, 34, 73);
}
.grid .columns-8 {
  grid-column: span 3;
  min-height: 80px;
  background: rgb(237, 255, 104);
}
}

/*Para Computadoras*/
/* L */
@media screen and (min-width: 1280px) {
.grid .columns-1 {
  grid-column: span 3;
  min-height: 80px;
  background: royalblue;
}
.grid .columns-2 {
  grid-column: span 3;
  min-height: 80px;
  background: royalblue;
}
.grid .columns-3 {
  grid-column: span 6;
  min-height: 80px;
  background: royalblue;
}
.grid .columns-4 {
  grid-column: span 6;
  min-height: 80px;
  background:forestgreen;
}
.grid .columns-5 {
  grid-column: span 6;
  min-height: 80px;
  background: forestgreen;
}
.grid .columns-6 {
  grid-column: span 8;
  min-height: 200px;
  background: rgb(139, 36, 34);

}
.grid .columns-7 {
  grid-column: span 4;
  max-height: 200px;
  background: rgb(139, 34, 73);
}
.grid .columns-8 {
  grid-column: span 12;
  min-height: 80px;
  background: rgb(237, 255, 104);
}
}